<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>URL Shortner</title>

        <link href="/assets/img/favicon.ico" rel="icon" type="image/x-icon">       
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/css/bootstrap-icons.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">
                <img src="/assets/img/logo.svg" alt="url-shor" width="30" height="24">
                URL Short</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                  <a class="nav-link" href="/api">API Guide</a>
                </div>
              </div>
            </div>
          </nav>

        <div class="container my-5">
            <div class="row justify-content-center">
                <h1>
                    <div class="display-5 my-2 text-center">Welcome to the URL short</div>
                </h1>
            </div>

            <div class="row justify-content-center">
                <div class="col-6 my-5">
                    <form action="/short" method="post">
                        <label for="URL" class="form-label text-muted">Enter the URL you want to be shortened:</label>
                        <div class="mb-3 input-group">
                            <span class="input-group-text">
                                <i class="bi bi-link"> </i>
                            </span>
                            <input type="url" name="url" id="url" class="form-control" required="required" placeholder="https://google.com">
                        </div>
                        <div class="text-center">
                            <input type="hidden" name="token" value="{{.Token}}" access="false" id="token">
                            <button type="submit" class="btn btn-primary" name="submit" id="submit" value="submit">submit</button>
                        </div>
                    </form>
                </div>
            </div>

            
            <div class="row justify-content-center">
                {{if .ShortLink}}
                <div class="col-6 my-3">
                  <p>Your short link is: <span class="jumbotron justify-content-center"> <a href="{{.ShortLink}}" title="this is your short link" target="_blank"> {{.ShortLink}} </a> </span> </p>
                </div>
                {{end}}

                {{if .Status}}
                <div class="col-6 my-3">
                   <p>Status: <span class="jumbotron justify-content-center"> {{.Status}} </span> </p>
                </div>
                {{end}}
            </div>
        </div>

        <script src="/assets/js/bootstrap.bundle.min.js"></script>
    </body>
</html>